<%- include('layouts/header'); -%>
<body>
    <%- include('layouts/nav'); -%>
    <section class="w50">
        <div class="formData">
            <p>This webpage was built using the following technologies:</p>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JS</li>
                <li>EJS</li>
                <li>Express</li>
                <li>Node.js</li>
            </ul>
        </div>
    </section>
    <section class="w50">
    <div class="formData">
        <p>Built by:</p>
        <ul>
            <li><%= name %></li>
            <li><%= studentNumber %></li>
        </ul>
    </div>
    </section>
<div class="clear"></div>
</body>
<%- include('layouts/footer'); -%>








