<%- include('_layouts/header') -%>
<%- include('_layouts/navigation') -%>
<main>
    <div class="container">
        <h1>MY SHOP'S INVOICE</h1>
        <div class="box">
            <div class="formBox">
                <label>Name : </label>
                <span><%= name %></span>
            </div>
            <div class="formBox">
                <label>Email : </label>
                <span><%= email %></span>
            </div>
            <div class="formBox">
                <label>Phone : </label>
                <span><%= phone %></span>
            </div>
            <div class="formBox">
                <label>Derivery Address : </label>
                <span><%= address %>,</span><br>
                <label></label>
                <span><%= city %>,</span><br>
                <label></label>
                <span><%= province %>, <%= postcode %></span>
            </div>
            <div class="formBox">
                <label>Product1 @ $10.00 : </label>
                <span>$<%= product1 %></span><br>
                <label>Product2 @ $20.00 :</label>
                <span>$<%= product2 %></span><br>
                <label>Product3 @ $30.00 : </label>
                <span>$<%= product3 %></span>
            </div>
            <div class="formBox">
                <label>Shipping Charges : </label>
                <span>$<%= shippingCharge %></span><br>
            </div>
            <div class="formBox">
                <label>Sub Total : </label>
                <span>$<%= subTotal %></span><br>
            </div>
            <div class="formBox">
                <label>Taxes @ <%= tax %>% : </label>
                <span>$<%= taxTotal %></span><br>
            </div>
            <div class="formBox">
                <label>Total : </label>
                <span>$<%= total %></span><br>
            </div>
        </div>
    </div>
</main>
<%- include('_layouts/footer') -%>