<%- include('_layouts/header') -%>
<%- include('_layouts/navigation') -%>
<main>
    <div class="container">
        <h1>CUSTORMER ORDER LISTS</h1>
        <div class="orderLists">
            <div>Name</div>
            <div>Email</div>
            <div>Address</div>
            <div>City</div>
            <div>Province</div>
            <div>PostCode</div><div>Product1</div><div>Product2</div><div>Product3</div><div>SubTotal</div><div>Total</div>
            <% 
                for(order of orders)
                {
            %>
            <div><%=order.name%></div>
            <div><%=order.email%></div>
            <div><%=order.address%></div>
            <div><%=order.city%></div>
            <div><%=order.province%></div>
            <div><%=order.postcode%></div>
            <div><%=order.product1%></div>
            <div><%=order.product2%></div>
            <div><%=order.product3%></div>
            <div><%=order.subTotal%></div>
            <div><%=order.total%></div>
            <%
                }
            %>
        </div>
    </div>
</main>
<%- include('_layouts/footer') -%>